body {
  background: #555;
}

.content {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 10px;
}
.photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: right;
}
h2 {
  text-shadow: 2px 2px #d3a137;
}
.loved {
  text-align: left;
  color: rgb(39, 33, 33);
} 
.heart{
  text-align: left;
  color: rgb(236, 22, 22);
}
.experience{
  text-align: left;
}

.container{
  text-align: left;
}
